


.container-about {
    width: 99vw;
    height: 800px;
    margin-top: 0;
}

.about-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about-me {
    display: grid;
    justify-items: center;  
    margin-left: 5%;
    margin-top: 10%;
    margin-right: 5%;
    position: absolute;
}

.about-text {
    color: #BDA64C;
    font-size: 55px;
    font-family: 'text-introduction';
    margin-top: 5%;
}
.description-text {
    color: black;
    font-size: 25px;
    font-size: 30px;
    font-family: 'description-text';
}