.code-examples-background {
    margin-top: 5%;
    background-image: url("../img/pattern.jpg");
    width: 99vw;
    height: 700px;
    margin-left: -25%;
    margin-bottom:0%;
}

.sql-text {
    text-align: center;
    color: #BDA64C;
    font-size: 35px;
    font-family: 'text-introduction';
}

.sample-database {
    display: grid;
    justify-content: center;
}